<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Outside</title>
    <link rel="icon" href="/public/images/umbrella (2).png">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

     <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&family=Ubuntu&display=swap" rel="stylesheet">

    <!-- Feather Icons Script -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>   
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="/styles.css">

    <!-- Icons from Fontawesome -->
    <script src="https://kit.fontawesome.com/27f57c5d16.js" crossorigin="anonymous"></script>

    <!-- Moment time formatter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</head>
<body>
    <section id="NavBar">
        <!-- Nav Bar -->
    
      <div class="container-fluid">
        <nav class="navbar navbar-light" style="background-color:#5E96CF;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Go Outside</a>             
                <form class="d-flex" method="post" action="/">
                <input id="city" class="form-control me-2" name="city" type="text" placeholder="Search for city" aria-label="Search"/>
                <!-- <input name="country" class="form-control me-2" type="text" placeholder="Search for country" aria-label="Search"/> -->
                <!-- <input class="form-control me-2" type="search" placeholder="Search for city" aria-label="Search"> -->
                <button class="btn btn-outline-light" type="submit">Search</button>
              </form>
            </div>
          </nav>
      </div>
    </section>

    <section id="MainPage">
        <div class="container">
            <div class="day-weather">
              <div class="weather-gradient"></div>
              <div class="date-container">
                <h2 class="date-dayname"><%= day %></h2><span class="date-day"><%= formattedDay %></span><span class="location-icon"><i class="fas fa-map-marker-alt"></i> <%= city %></span>
              </div>
              <div class="weather-container">
                <h1 class="weather-temp"><%= temp %> °C</h1>
                <h3 class="weather-desc">The weather is <%= desc %><img class="weather-icon" src="<%= image %>"></h3>
              </div>
            </div>
            <div class="info-side">
              <div class="today-info-container">
                <div class="today-info">
                  <div class="description"> <span>WEATHER DESCRIPTION</span>
                  </div>
                  <div class="humidity"> <span class="title">HUMIDITY</span><span class="value"><%= humidity %> %</span>
                    <div class="clear"></div>
                  </div>
                  <div class="humidity"> <span class="title">VISIBILITY</span><span class="value"><%= visibility %> m</span>
                    <div class="clear"></div>
                  </div>
                  <div class="wind"> <span class="title">WIND</span><span class="value"><%= speed %> m/s</span>
                    <div class="clear"></div>
                  </div>
                  <div class="humidity"> <span class="title">SUNRISE</span><span class="value"><%= sunrise %></span>
                    <div class="clear"></div>
                  </div>
                  <div class="humidity"> <span class="title">SUNSET</span><span class="value"><%= sunset %></span>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
</body>
</html>